/* styles for index.html */

/*general*/
html, main, body, div{
  height: auto;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}
html{
  background-color: #888;
}
header{
  width: 100%
}
img{
  vertical-align: middle;
}
a{
  background-color: transparent;
}
li{
  display: inline-block;
}
a:link{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}

/*top banner*/
#banner{
  background-color: #afc7ed;
  height: 100px;
  border-bottom: 20px #555;
  position: fixed;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.headerContainer{
  width: 80%;
  max-width: 1536px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
  margin: auto;
}
.logo-top{
  height: 50px;
  vertical-align: middle;
  margin: 25px;
}
.navbar-right{
  width: auto;
  height: auto;
  max-height: 100px;
  list-style: none;
  font-size: 15px;
  color: #555;
  margin: 0 25px 0 0 !important;
}
.blocker{
  display: inline-block;
  background-color: inherit;
}
.navbar-right > li{
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 4px 5px 4px;
  text-decoration: none;
  display: inline-flex;
  border: grey 3px solid;
  background-color: white;
  border-radius: 3px;
}

/*main body*/
main{
  left: 0px;
  right: 0px;
  top: 100px;
  bottom: 0px;
  min-height: 100%;
  background-color: grey;
}
.mainBody{
  background-color: white;
  border-left: 2px;
  border-right: 10px;
  border-color: #666;
  width: 1536px;
  max-width: 80%;
  min-height: 100%;
  margin: auto;
  top: 100px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
}
.mainBody > div{
  width: 100%;
  height: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.home{
  position: relative;
  top: 100px;
  color: white;
  align-content: center;
  background-color: #cccccc;
  background-image: url(https://www.colourbox.com/preview/26519664-line-cryptocurrency-white-seamless-pattern.jpg);
}
div > .header{
  text-shadow: 3px 3px grey;
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: bold;
  padding: 0;
  margin: auto;
  opacity: .8;
}
.avoidHype{
  vertical-align: middle;
  position: relative;
  top: 10%;
}
.scheduleButton{
  background-color: white;
  color: grey;
  text-align: center;
  font-size: 30px;
  width: 50%;
  height: 8%;
  position: relative;
  top: 18%;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 8);
}
#famous{
  height:200px;
}
div > p{
  top: auto;
  bottom: auto;
}
.slideshow{
  position: relative;
  background-color: white;
  margin-top: 10px;
  font-style: italic;
  direction: right;
}
.slideshow q{
  font-size: 30px;
  color: #555;
  line-height: 1.4;
}
.slideshow p{
  text-align: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.slideshow footer{
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
}
.about{
  height: 100% !important;
}
h3{
  font-size: 40px;
  margin-bottom: 20%;
}
.center{
  width: 100%;
}
h4{
  font-size: 30px !important;
  letter-spacing: 5px;
  margin-top: auto !important;
  margin-bottom: auto !important;
  color: white !important;
}
.info p{
  margin-bottom: -1%;
  height: 100px;
  margin-top: auto;
  font-size: 20px;
  vertical-align: middle;
  display: inline-table;
  padding-bottom: 2%;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}
.info1{
  background-color: #a8cacc;
}
.info1-1{
  background-color: #d2fcff;
}
.info2{
  background-color: #83c8cc;
}
.info2-1{
  background-color: #a4f9ff;
}
.info3{
  background-color: #5fc7cc;
}
.info3-1{
  background-color: #77f5ff;
}
.info4{
  background-color: #3ac5cc;
}
.info4-1{
  background-color: white/*#49f2ff*/;
}

.customerQuotes{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
  text-align: left;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  color: #555;
  font-size: 14pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: '- ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' -';
}
@element 'blockquote' and (min-width: 300px) {
  blockquote {
    padding: 1em 20% 1em 1em;
  }
  blockquote p {
    font-size: 14pt;
  }
  blockquote:nth-of-type(even) {
    padding: 1em 1em 1em 20%;
  }
}
#team img{
  width: 200px;
  height: auto;
  border: 5px solid grey;
  border-radius: 50%;
}
#team p{
  text-align: justify;
}
.teamPictures{
  display:grid;
  grid-template-columns: repeat(auto-fit, 200px) [end];
  grid-auto-flow: row;
  grid-gap: 5%;
  justify-content: center;
  margin-top: 20%;
}
footer{
  display: inline;
  bottom: 0;
  height: 35px;
  z-index: -1;
  border-top: 2px solid black;
}
footer p{
  display:inline;
  font-size: 20px;
  margin:0;
}
